# Google Sheets API Credentials
GOOGLE_SHEETS_CLIENT_EMAIL=your-service-account-email@your-project.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_SPREADSHEET_ID=your_google_spreadsheet_id_here

# Admin Auth Secret (Used for signing cookies/session - can be any random string)
AUTH_SECRET=generate_a_random_secret_string_here